@import "abstracts/variables";
@import "abstracts/mixin";

@import "base/base";
@import "base/utils";

@import "components/section-header";
@import "components/video";
@import "components/button";

@import "layout/nav";
@import "layout/footer";
@import "layout/form";

@import "pages/home";

.button {
  background-color: #008000;
  color: #ffffff;
  cursor: pointer;
}
