.footer {
  background: $color-primary;
  height: auto;
  padding-bottom: 0;
  @include respond(tab-port) {
    padding: 5rem 5vw 0 5vw;
  }
  &__category {
    padding-bottom: 3rem;
    border-bottom: 1px solid $color-white;
    &-item {
      width: 25%;
      padding: 1rem;
      @include respond(tab-port) {
        width: 100%;
        &:last-child {
          width: 80%;
        }
      }
      & h4 {
        padding: 1rem 0;
        color: $color-white;
        text-transform: uppercase;
      }
      & a,
      p {
        font-size: 1.5rem;
        color: $color-white;
        margin-bottom: 1rem;
        text-decoration: none;
      }
    }
  }
  &__menu {
    padding: 2rem 0;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-direction: column-reverse;
    }
  }
  &__copyright {
    width: 30%;
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
    & a,
    & p {
      color: $color-white;
      font-size: 1.5rem;
      @include respond(tab-port) {
        font-size: 1.8rem;
      }
    }
  }
  &__social {
    width: 30%;
    color: $color-white;
    justify-content: flex-end;

    @include respond(tab-port) {
      width: 100%;
      justify-content: center;
    }
    & a {
      text-decoration: none;
      & img {
        width: 3rem;
        height: 3rem;
        margin-left: 1rem;
        @include respond(tab-port) {
          width: 4rem;
          height: 4rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
