$color-primary: #070841;
$color-secondary: #ff8000;
$color-tertiary: #f6f6ff;
$color-white: #ffffff;
$color-light-grey-9: #999999;
$color-dark-grey-3: #333333;
$color-black: #000000;

$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
