// Button
.buttons {
  display: flex;
}
.button {
  padding: 1.5rem 2rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  &:hover {
    padding: 1.5rem 2.5rem;
  }
  &:last-child {
    margin-right: 0;
  }
}

.button--primary {
  background: $color-secondary;
  color: $color-white;
}
.button--secondary {
  background: $color-primary;
  color: $color-white;
}
.button--tertiary {
  background: $color-tertiary;
  color: $color-primary;
}
