body {
  font-family: "Lato", sans serif;
  font-weight: 400;
  line-height: 1.5;
  color: $color-dark-grey-3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-blue-dark;
}

// STYLES FOR HEADING
// h1
.heading-primary {
  color: $color-white;
  font-size: 6.5rem;
  font-weight: 700;
  display: block;
  // @include respond(tab-port) {
  //   font-size: 4.5rem;
  // }
}
// h2
.heading-secondary {
  color: $color-blue-dark;
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
}
// h3
.heading-tertiary {
  color: $color-blue-dark;
  font-size: 2.5rem;
  font-weight: 700;
  display: block;
}
// h4
.heading-sub {
  color: $color-blue-dark;
  font-size: 2rem;
  font-weight: 700;
  display: block;
}
.tagline {
  display: block;
  width: auto;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: $color-light-grey-9;
  padding-bottom: 1rem;
  @include respond(tab-port) {
    font-size: 1.8rem;
  }
}
.paragraph {
  color: $color-light-grey-9;
  margin-bottom: 3rem;
  font-size: $paragraph-font-size;
}
// STYLES FOR ANCHOR
.cta-primary,
.cta-secondary,
.cta-tertiary,
.cta-primary-bd,
.cta-secondary-bd {
  color: $color-white;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  &:hover {
    padding: 1.5rem 2.5rem;
  }
}
.cta-primary {
  background: $color-secondary;
}
.cta-secondary {
  background: $color-primary;
}
.cta-tertiary {
  background: $color-tertiary;
  color: $color-primary;
  border: 1px solid $color-primary;
}
.cta-primary-bd {
  border: $color-secondary;
}
.cta-secondary-bd {
  border: $color-primary;
}
