.stress {
  font-size: 4rem;
  color: $color-primary;
  color: $color-secondary;
  font-style: italic;
  font-weight: bold;
  display: block;
}
.tagline {
  display: block;
  width: auto;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: $color-light-grey-9;
  padding-bottom: 1rem;
  @include respond(tab-port) {
    font-size: 1.2rem;
  }
}

.row-pd {
  width: 100%;
  padding: 10rem 10vw;
  @include respond(tab-port) {
    padding: 3rem 5vw;
  }
}

.row-mg {
  width: 80%;
  margin: auto;
  @include respond(tab-port) {
    width: 90%;
  }
}
.fl-row {
  display: flex;
  @include respond(tab-port) {
    flex-direction: column;
    margin-bottom: 3rem;
  }
}

.fl-col {
  display: flex;
  flex-direction: column;
}
// section with one of the children occupying 20% of the section
.w2 {
  width: 20%;

  @include respond(tab-port) {
    width: 100%;
    color: black;
  }
  @include respond(phone) {
    width: 100%;
    color: black;
  }
}

// section with one of the children occupying 30% of the section
.w3 {
  width: 30%;

  @include respond(tab-port) {
    width: 100%;
    color: black;
  }
  @include respond(phone) {
    width: 100%;
    color: black;
  }
}
// section with one of the children occupying 35% of the section
.w35 {
  width: 35%;

  @include respond(tab-port) {
    width: 100%;
    color: black;
  }
  @include respond(phone) {
    width: 100%;
    color: black;
  }
}
// section with one of the children occupying 40% of the section
.wd-4 {
  width: 40%;

  @include respond(tab-port) {
    width: 100%;
    color: black;
  }
  @include respond(phone) {
    width: 100%;
    color: black;
  }
}
// section with one of the children occupying 45% of the section
.wd-45 {
  width: 45%;

  @include respond(tab-port) {
    width: 100%;
    color: black;
  }
  @include respond(phone) {
    width: 100%;
    color: black;
  }
}
// section with one of the children occupying 50% of the section
.w5 {
  width: 50%;

  @include respond(tab-port) {
    width: 100%;
    color: black;
  }
  @include respond(phone) {
    width: 100%;
    color: black;
  }
}
// section with one of the children occupying 60% of the section
.w6 {
  width: 60%;

  @include respond(tab-port) {
    width: 100%;
    color: black;
  }
  @include respond(phone) {
    width: 100%;
    color: black;
  }
}
// section with one of the children occupying 65% of the section
.w65 {
  width: 65%;

  @include respond(tab-port) {
    width: 100%;
    color: black;
  }
  @include respond(phone) {
    width: 100%;
    color: black;
  }
}
// section with one of the children occupying 70% of the section
.w7 {
  width: 70%;

  @include respond(tab-port) {
    width: 100%;
    color: black;
  }
  @include respond(phone) {
    width: 100%;
    color: black;
  }
}

// section with one of the children occupying 80% of the section
.w8 {
  width: 30%;

  @include respond(tab-port) {
    width: 100%;
    color: black;
  }
  @include respond(phone) {
    width: 100%;
    color: black;
  }
}
.sm-row {
  @include respond(tab-port) {
    flex-direction: row;
  }
}
