.highlight {
  display: block;
  color: $color-secondary;
}
.stress {
  font-size: 4rem;
  color: $color-primary;
  color: $color-secondary;
  font-style: italic;
  font-weight: bold;
  display: block;
}
