/*
0-600       Phone
600-900     Tablet portrait 
900-1200    Tablet landscape
(1200-1800   Normal styles apply)
1800 +      Big Dektop 

$breakpoint argument choices:
-phone 
-tab-port
-tab-land
-big-desktop
*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 75%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 68.75%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans serif;
  line-height: 1.2;
}

ul {
  list-style: none;
}

::selection {
  background-color: #070841;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
}

.heading-primary {
  color: #fff;
  font-size: 2.5rem;
}

.heading-secondary {
  font-size: 2rem;
}

.heading-tertiary {
  font-size: 1.5rem;
}

.heading-sub {
  font-size: 2rem;
}

.p-main {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow-wrap: break-word;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
a :hover {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.stress {
  font-size: 4rem;
  color: #070841;
  color: #ff8000;
  font-style: italic;
  font-weight: bold;
  display: block;
}

.tagline {
  display: block;
  width: auto;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #999;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .tagline {
    font-size: 1.2rem;
  }
}

.row-pd {
  width: 100%;
  padding: 10rem 10vw;
}
@media only screen and (max-width: 56.25em) {
  .row-pd {
    padding: 3rem 5vw;
  }
}

.row-mg {
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 56.25em) {
  .row-mg {
    width: 90%;
  }
}

.fl-row {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .fl-row {
    flex-direction: column;
    margin-bottom: 3rem;
  }
}

.fl-col {
  display: flex;
  flex-direction: column;
}

.w2 {
  width: 20%;
}
@media only screen and (max-width: 56.25em) {
  .w2 {
    width: 100%;
    color: black;
  }
}
@media only screen and (max-width: 37.5em) {
  .w2 {
    width: 100%;
    color: black;
  }
}

.w3 {
  width: 30%;
}
@media only screen and (max-width: 56.25em) {
  .w3 {
    width: 100%;
    color: black;
  }
}
@media only screen and (max-width: 37.5em) {
  .w3 {
    width: 100%;
    color: black;
  }
}

.w35 {
  width: 35%;
}
@media only screen and (max-width: 56.25em) {
  .w35 {
    width: 100%;
    color: black;
  }
}
@media only screen and (max-width: 37.5em) {
  .w35 {
    width: 100%;
    color: black;
  }
}

.wd-4 {
  width: 40%;
}
@media only screen and (max-width: 56.25em) {
  .wd-4 {
    width: 100%;
    color: black;
  }
}
@media only screen and (max-width: 37.5em) {
  .wd-4 {
    width: 100%;
    color: black;
  }
}

.wd-45 {
  width: 45%;
}
@media only screen and (max-width: 56.25em) {
  .wd-45 {
    width: 100%;
    color: black;
  }
}
@media only screen and (max-width: 37.5em) {
  .wd-45 {
    width: 100%;
    color: black;
  }
}

.w5 {
  width: 50%;
}
@media only screen and (max-width: 56.25em) {
  .w5 {
    width: 100%;
    color: black;
  }
}
@media only screen and (max-width: 37.5em) {
  .w5 {
    width: 100%;
    color: black;
  }
}

.w6 {
  width: 60%;
}
@media only screen and (max-width: 56.25em) {
  .w6 {
    width: 100%;
    color: black;
  }
}
@media only screen and (max-width: 37.5em) {
  .w6 {
    width: 100%;
    color: black;
  }
}

.w65 {
  width: 65%;
}
@media only screen and (max-width: 56.25em) {
  .w65 {
    width: 100%;
    color: black;
  }
}
@media only screen and (max-width: 37.5em) {
  .w65 {
    width: 100%;
    color: black;
  }
}

.w7 {
  width: 70%;
}
@media only screen and (max-width: 56.25em) {
  .w7 {
    width: 100%;
    color: black;
  }
}
@media only screen and (max-width: 37.5em) {
  .w7 {
    width: 100%;
    color: black;
  }
}

.w8 {
  width: 30%;
}
@media only screen and (max-width: 56.25em) {
  .w8 {
    width: 100%;
    color: black;
  }
}
@media only screen and (max-width: 37.5em) {
  .w8 {
    width: 100%;
    color: black;
  }
}

@media only screen and (max-width: 56.25em) {
  .sm-row {
    flex-direction: row;
  }
}

.section-header {
  width: 70%;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .section-header {
    width: 90%;
  }
}
.section-header__heading {
  font-size: 4.5rem;
  padding: 2rem;
  color: #fff;
}
.section-header__text {
  color: #fff;
  margin-bottom: 5rem;
  font-size: 1.8rem;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.overlay:target {
  opacity: 1;
  visibility: visible;
}
.overlay:target .overlay__content {
  opacity: 1;
  transform: scale(1);
}
.overlay__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background: #f6f6ff;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.25);
  transition: all 0.4s 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .overlay__content {
    width: 90%;
    height: auto;
  }
}
.overlay__content .video {
  width: 90%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
@media only screen and (max-width: 56.25em) {
  .overlay__content .video {
    width: 100%;
  }
}
.overlay__close:link, .overlay__close:visited {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  text-decoration: none;
  color: #333;
  transition: all 0.2s;
  cursor: pointer;
}
.overlay__close:hover {
  color: #ff8000;
}

.buttons {
  display: flex;
}

.button {
  padding: 1.5rem 2rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}
.button:hover {
  padding: 1.5rem 2.5rem;
}
.button:last-child {
  margin-right: 0;
}

.button--primary {
  background: #ff8000;
  color: #fff;
}

.button--secondary {
  background: #070841;
  color: #fff;
}

.button--tertiary {
  background: #f6f6ff;
  color: #070841;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  background: #070841;
  height: 7rem;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    padding: 0 5vw;
    border-bottom: 1px solid #444;
  }
}
.nav .logo {
  color: #ffffff;
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: 700;
}
@media only screen and (max-width: 37.5em) {
  .nav .logo {
    text-wrap: nowrap;
    font-size: 1.5rem;
  }
}
.nav .navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav .navigation__item {
  font-size: 1.5rem;
  margin-left: 2rem;
  font-weight: bold;
}
.nav .navigation__link {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}
.nav .navigation__link--last {
  background: #ff8000;
  padding: 1rem;
  border-radius: 1rem;
}

.footer {
  background: #070841;
  height: auto;
  padding-bottom: 0;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 5rem 5vw 0 5vw;
  }
}
.footer__category {
  padding-bottom: 3rem;
  border-bottom: 1px solid #fff;
}
.footer__category-item {
  width: 25%;
  padding: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__category-item {
    width: 100%;
  }
  .footer__category-item:last-child {
    width: 80%;
  }
}
.footer__category-item h4 {
  padding: 1rem 0;
  color: #fff;
  text-transform: uppercase;
}
.footer__category-item a,
.footer__category-item p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
  text-decoration: none;
}
.footer__menu {
  padding: 2rem 0;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .footer__menu {
    flex-direction: column-reverse;
  }
}
.footer__copyright {
  width: 30%;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    text-align: center;
  }
}
.footer__copyright a, .footer__copyright p {
  color: #fff;
  font-size: 1.5rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright a, .footer__copyright p {
    font-size: 1.8rem;
  }
}
.footer__social {
  width: 30%;
  color: #fff;
  justify-content: flex-end;
}
@media only screen and (max-width: 56.25em) {
  .footer__social {
    width: 100%;
    justify-content: center;
  }
}
.footer__social a {
  text-decoration: none;
}
.footer__social a img {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__social a img {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
  }
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.sub__input {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  background: #fff;
}
.sub__submit {
  background: #ff8000;
  border: none;
  width: 15%;
  color: #fff;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  height: 4rem;
  font-weight: bold;
  margin-left: -15%;
}

.hero-home {
  width: 100%;
  height: 85vh;
  align-items: center;
  background: #070841;
  border-bottom-right-radius: 30rem;
  z-index: 100;
}
@media only screen and (max-width: 56.25em) {
  .hero-home {
    height: auto;
    border-bottom-right-radius: 20rem;
    padding: 5rem 5vw 7rem 5vw;
  }
}
@media only screen and (max-width: 56.25em) {
  .hero-home .flex-1 {
    flex-direction: row;
  }
}
@media only screen and (max-width: 56.25em) {
  .hero-home__text {
    padding-bottom: 4rem;
  }
}
.hero-home__text .punchline {
  display: block;
  font-size: 5.5rem;
  line-height: normal;
  color: #f6f6ff;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .hero-home__text .punchline {
    font-size: 4.5rem;
    display: block;
  }
}
.hero-home__text .highlight {
  display: block;
  color: #ff8000;
}
.hero-home__text .p-main {
  color: #fff;
}
.hero-home__image {
  display: flex;
  justify-content: center;
  position: relative;
}
.hero-home__image img {
  width: 80%;
}
@media only screen and (max-width: 56.25em) {
  .hero-home__image img {
    width: 100%;
  }
}

.services {
  justify-content: space-between;
  width: 100%;
  z-index: -1;
}
@media only screen and (max-width: 56.25em) {
  .services {
    flex-direction: column-reverse;
  }
}
.services__card {
  height: 20rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .services__card {
    height: auto;
    padding: 2rem 0;
    overflow: hidden;
    margin-bottom: 5rem;
    border-top: 1px solid #999;
  }
  .services__card:not(:nth-child(2)) {
    flex-direction: column-reverse;
  }
}
.services__txt h3 {
  padding: 1rem 0;
  text-transform: capitalize;
  color: #070841;
  font-weight: 700;
}
.services__img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background: #f6f6ff;
  position: relative;
}
.services__img img {
  width: 15rem;
  height: 14rem;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
}
.services__img img:hover {
  width: 14rem;
  height: 13rem;
}
.services__desc {
  align-self: center;
}
@media only screen and (max-width: 56.25em) {
  .services__desc {
    margin-bottom: 5rem;
  }
}

.features {
  width: 100%;
  background: #070841;
  height: auto;
  border-top-left-radius: 30rem;
  padding: 5rem auto;
}
@media only screen and (max-width: 56.25em) {
  .features {
    border-top-left-radius: 20rem;
  }
}
.features__list {
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.features__item {
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .features__item {
    width: 90%;
    margin-bottom: 3rem;
  }
}
.features__item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 3rem;
  color: #ff8000;
  font-weight: bold;
  border: 1px solid #ff8000;
}
.features__item .paragraph {
  text-align: center;
}

.steps {
  background: #f6f6ff;
  border-bottom-right-radius: 30rem;
}
@media only screen and (max-width: 56.25em) {
  .steps {
    border-bottom-right-radius: 15rem;
    padding-bottom: 7rem;
  }
}
.steps__txt {
  align-self: center;
}
@media only screen and (max-width: 56.25em) {
  .steps__txt {
    margin-bottom: 3rem;
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .steps__txt .flex-1 {
    flex-direction: row;
  }
}
.steps__list {
  justify-content: center;
  align-items: center;
}
.steps__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: auto;
  padding: 0 2rem;
  margin-bottom: 2rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media only screen and (max-width: 56.25em) {
  .steps__card {
    width: 100%;
  }
}
.steps__card span {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: #f6f6ff;
  position: relative;
}
.steps__card span img {
  width: 13rem;
  height: 9rem;
  position: absolute;
  top: -1rem;
  right: -5rem;
}
.steps__card .heading-tertiary {
  color: #070841;
}

.testimonial {
  width: 70%;
  margin: auto;
}
@media only screen and (max-width: 56.25em) {
  .testimonial {
    width: 100%;
    margin-bottom: 8rem;
  }
}
.testimonial .section-header__heading {
  color: #070841;
}
.testimonial .section-header__text {
  color: #333;
  margin-bottom: 5rem;
}
.testimonial__list {
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  position: relative;
}
.testimonial__list .right-arrow,
.testimonial__list .left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #070841;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  bottom: -25%;
}
.testimonial__list .right-arrow {
  right: 40%;
}
@media only screen and (max-width: 56.25em) {
  .testimonial__list .right-arrow {
    right: 20%;
  }
}
.testimonial__list .left-arrow {
  left: 40%;
}
@media only screen and (max-width: 56.25em) {
  .testimonial__list .left-arrow {
    left: 20%;
  }
}
.testimonial__card {
  padding: 2rem;
  height: auto;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.testimonial__card .customer {
  display: flex;
  align-items: center;
}
.testimonial__card .customer img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 5px solid #ff8000;
}
.testimonial__card .customer h4 {
  color: #ff8000;
  margin-left: 1rem;
}
.testimonial__card .text {
  margin-top: 1rem;
}

.get-started {
  background: #f6f6ff;
  border-top-left-radius: 30rem;
}
@media only screen and (max-width: 56.25em) {
  .get-started {
    border-top-left-radius: 15rem;
    padding-top: 7rem;
  }
}
.get-started__box {
  justify-content: space-between;
  align-items: center;
}
.get-started .heading-primary {
  font-size: 5rem;
  color: #070841;
}

/*# sourceMappingURL=style.css.map */
